:root {
    --slide-height: 590px;
}

.carousel-slider, .slick-slide .slide, .carousel-slider .slide img {
    transition: all 0.3s ease;
}

.carousel-slider {
    width: 1800px;
    height: var(--slide-height);
}
.slick-slide .slide {
    height: var(--slide-height);
    position: relative; 
}
.carousel-slider .slide img {
    max-width: 889px;
    height: var(--slide-height);    
    position: absolute;
    top: 50%;  
    transform: translateY(-50%);
}
.next-arrow, .prev-arrow {
    display: none;
    position: absolute;
    top: calc(50% - 30px);
    z-index: 100; 
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;  
}
.next-arrow {
    right: 50%;
    transform: rotate(180deg);
    filter: invert(100%);
}
.prev-arrow {
    left: -60px;
}
@media (max-width: 1400px) {
    :root {
        --slide-height: 400px;
    }
    .carousel-slider {
        width: 1200px;
    }
    .carousel-slider .slide img {
        max-width: 590px;       
    } 
}

@media (max-width: 930px) {    
    :root {
        --slide-height: 300px;
    }
    .carousel-slider {
        width: 820px;
    }
    .carousel-slider .slide img {
        max-width: 400px;       
    }
}
@media (max-width: 640px) {    
    :root {
        --slide-height: 200px;
    }
    .carousel-slider {
        width: 620px;
    }
    .carousel-slider .slide img {
        max-width: 300px;       
    }
}
@media (max-width: 480px) {
    :root {
        --slide-height: 180px;
    }
    .next-arrow, .prev-arrow {
        display: block;
    }
    .carousel-slider {
        width: 600px;
    }
    .carousel-outer {
        height: var(--slide-height);
    }
    .slick-slider {        
        position: absolute!important;
        left: 40px;
    }
    .carousel-slider .slide img {
        max-width: 300px;       
    } 
}