@import url('https://fontlibrary.org//face/lato');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Lato;    
	background-color: #ffffff;
}
h3 {
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #4F4F4F;       
}
.to-index {

}
header {
    height: 53px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding-left: 720px;
}
header nav {
    margin-top: 20px;
}

header nav a {
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;    
    letter-spacing: -0.165px;   
    color: #000000; 
    text-decoration: none;
    margin-right: 147px;

}
.main-block {
    padding-top: 53px;
}

.left-menu {
    position: fixed;
    left: 162px;
    top: 20%;
}
.left-menu h3 {
    margin: 0 0 23px 0;
}
.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.left-menu ul li {
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #959595;
    height: 27px;
    margin: 0 0 16px 0;
}
.left-menu ul li:hover {
    cursor: pointer;
}
.left-menu ul li.active {
    color: #4F4F4F;
}

.aframe {
    margin-left: 708px;
    max-width: calc(100% - 708px);
    overflow: hidden;
}
.aframe .item {
    padding-bottom: 54px;
}
.aframe .item h2 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 2px;    
    color: #000000;
    margin: 106px 0 6px 0;
}
.aframe .item .description {
    width: 880px;
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 24px 0 24px 0;
}
.aframe .item .price {
    font-family: 'LatoRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;    
    color: #333333;
}
.carousel-slider {
    width: 1820px;
}
.carousel-slider .slide img {
    width: 889px;
    max-height: 590px;
    padding-right: 20px;
}